
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap');
:root{
    --text: BLACK;
    --texti:white
}
h1,h2,h3,h4,h5,h6,p,span,a{
    color: var(--text);
    font-family: 'Fira Sans', sans-serif;
}
a{
    text-decoration: none;
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    list-style-type: none;
    overflow-x: hidden;
}
body{
background:rgb(202, 196, 196)
}

/* large */
@media(min-width:1120px){
    /* HEADER */
    #menu__toggle {
        opacity: 0;
        }
        #menu__toggle:checked + .menu__btn > span {
        transform: rotate(45deg);
        }
        #menu__toggle:checked + .menu__btn > span::before {
            top: 0;
            transform: rotate(0deg);
        }
        #menu__toggle:checked + .menu__btn > span::after {
            top: 0;
            transform: rotate(90deg);
        }
        #menu__toggle:checked ~ .menu__box {
            left: 0 !important;
        }
        
        .menu__btn > span,
        .menu__btn > span::before,
        .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 50%;
        height: 2px;
        background-color: #616161;
        transition-duration: .25s;
        }
        .menu__btn > span::before {
            content: '';
            top: -8px;
        }
        .menu__btn > span::after {
            content: '';
            top: 8px;
        }
        .menu__box {
            display: block;
            position: fixed;
            top: 0;
            left: -100%;
            width: 100px;
            height: 100%;
            margin: 0;
            padding: 80px 0;
            list-style: none;
            background-image: url(../images/bmw_logo.png);
            background-repeat: no-repeat;
            background-color: #ECEFF1;
            box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
            transition-duration: .25s;
        }
        .menu__item {
            display: block;
            padding: 12px 24px;
            color: #333;
            font-size: 20px;
            font-weight: 600;
            text-decoration: none;
            transition-duration: .25s;
        }
        .menu__item:hover {
            background-color: #CFD8DC;
        }
        #menu__toggle {
            opacity: 0;
        }
        #menu__toggle:checked + .menu__btn > span {
            transform: rotate(45deg);
        }
        #menu__toggle:checked + .menu__btn > span::before {
            top: 0;
            transform: rotate(0deg);
        }
        #menu__toggle:checked + .menu__btn > span::after {
            top: 0;
            transform: rotate(90deg);
        }
        #menu__toggle:checked ~ .menu__box {
            left: 0 !important;
        }
        .menu__btn {
            position: absolute;
            top: 29px;
            left: 19px;
            width: 39px;
            height: 19px;
            cursor:pointer;
            z-index: 1;
        }
        .menu__btn > span,
        .menu__btn > span::before,
        .menu__btn > span::after {
            display: block;
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: #616161;
            transition-duration: .25s;
        }
        .menu__btn > span::before {
            content: '';
            top: -8px;
        }
        .menu__btn > span::after {
            content: '';
            top: 8px;
        }
        .menu__box {
            display: block;
            position: fixed;
            top: 0;
            left: -100%;
            width: 300px;
            height: 100%;
            margin: 0;
            padding: 80px 0;
            list-style: none;
            background-color: #ECEFF1;
            box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
            transition-duration: .25s;
        }
        .menu__item {
            display: block;
            padding: 12px 24px;
            color: #333;
            font-family: 'Roboto', sans-serif;
            font-size: 20px;
            font-weight: 600;
            text-decoration: none;
            transition-duration: .25s;
        }
        .menu__item:hover {
            background-color: #CFD8DC;
        }
        .hamburger-menu ul span i{
            color: var(--text);
        }
        .search-menu{
            border: none;
            border-bottom:2px solid black ;
        }

/* /HEADER */
/* MAIN */
.entry-text{
    text-align: center;

}
.card-body{
    margin-left: 28%;
    margin-right: 28%;
    padding-bottom: 3%;
    background: rgba(211, 194, 194, 0.6);
    font-size: 20px;
    font-weight:bold;
}
main .entry-text .card .card-body h3,p{
    color:var(--text);
}
.newcsl{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    background-color: whitesmoke;
    margin: 10px;
}
.m4csl-text{
    background: rgba(43, 41, 41, 0.6);
    width: 400px;
    height: 230px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 5px;
    padding-left: 5px;
    display:block;
}
.foto2023{
padding-top: 20px;

}
.foto2003{
    max-width: 550px;
    width: auto;
    width: 100%;
    height: auto;
    object-fit: contain;
}

.foto30{
    max-width: 600px; 
    width: 100%;
    height: auto;
    object-fit: contain;

    width: 100%;
height: auto;
object-fit: contain;
}

.fotohomage{
    max-width: 700px;
}
.gems{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 10px 10px;
    background-color: white;
}
.gems-image img{
    width: 100%;
    height: auto;
    object-fit: contain;
    padding: 15px;
}
.titles{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    text-align: center;
    padding-top: 50px;
}
.aftercontent{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.creators-box{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    text-align: center;
    background:white;
    margin: 5px;
    margin-top: 5px;
}
.creators-title{
    text-align: center;
}
/*  */
.sales{
    height:400px;
    overflow-y: scroll;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 1px;
    row-gap: 2px;
    padding-top: 39px;
}
.textttt{
    text-align: center;
}
.bidi{
    margin: 10px;
    margin-top: 0px;
    height: max-content;
}
.bid-photo{
    max-width: 410px;
    margin-left: 20px;
    width: 100%;
    height: auto;
    object-fit: contain;
}
.bid-info{
    padding-left: 20px;
}
.bid-car{
        background:white;
        height: 369px;
}
.buy-now{
    background: transparent;
    border: 0px;
    border-bottom: 2px solid black;
}
.buy-now:hover {
    font-weight: bold;
}
::-webkit-scrollbar{
    width: 0px;
}
/* FOOTER */
.support-content{
    padding: 60px 20px ;

    display: grid;
    grid-template-columns: repeat(4,1fr);
    background-color: black;
}
.support-content,ul li, a ,h2,span{
    color: white;
}
.contact-us ul li a:hover{
    color: rgb(90, 83, 83);
}
.sign-up ul li a:hover{
    color: rgb(90, 83, 83);
}
.region a:hover{
    color: rgb(90, 83, 83);
}
.support-info ul li a:hover{
    color: rgb(90, 83, 83);
}
}
/* MEDIUM */
@media (min-width:640px){
    /* HEADER */
    #menu__toggle {
    opacity: 0;
    }
    #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
    }
    #menu__toggle:checked + .menu__btn > span::before {
        top: 0;
        transform: rotate(0deg);
    }
    #menu__toggle:checked + .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
    }
    #menu__toggle:checked ~ .menu__box {
        left: 0 !important;
    }
    
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 50%;
    height: 2px;
    background-color: #616161;
    transition-duration: .25s;
    }
    .menu__btn > span::before {
        content: '';
        top: -8px;
    }
    .menu__btn > span::after {
        content: '';
        top: 8px;
    }
    .menu__box {
        display: block;
        position: fixed;
        top: 0;
        left: -100%;
        width: 100px;
        height: 100%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        background-image: url(../images/bmw_logo.png);
        background-repeat: no-repeat;
        background-color: #ECEFF1;
        box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
        transition-duration: .25s;
    }
    .menu__item {
        display: block;
        padding: 12px 24px;
        color: #333;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
        transition-duration: .25s;
    }
    .menu__item:hover {
        background-color: #CFD8DC;
    }
    #menu__toggle {
        opacity: 0;
    }
    #menu__toggle:checked + .menu__btn > span {
        transform: rotate(45deg);
    }
    #menu__toggle:checked + .menu__btn > span::before {
        top: 0;
        transform: rotate(0deg);
    }
    #menu__toggle:checked + .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
    }
    #menu__toggle:checked ~ .menu__box {
        left: 0 !important;
    }
    .menu__btn {
        position: absolute;
        top: 29px;
        left: 19px;
        width: 39px;
        height: 19px;
        cursor:pointer;
        z-index: 1;
    }
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #616161;
        transition-duration: .25s;
    }
    .menu__btn > span::before {
        content: '';
        top: -8px;
    }
    .menu__btn > span::after {
        content: '';
        top: 8px;
    }
    .menu__box {
        display: block;
        position: fixed;
        top: 0;
        left: -100%;
        width: 300px;
        height: 100%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        background-color: #ECEFF1;
        box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
        transition-duration: .25s;
    }
    .menu__item {
        display: block;
        padding: 12px 24px;
        color: #333;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
        transition-duration: .25s;
    }
    .menu__item:hover {
        background-color: #CFD8DC;
    }
    .hamburger-menu ul span i{
        color: var(--text);
    }
    .search-menu{
        border: none;
        border-bottom:2px solid black ;
    }
}

/* /HEADER */
/* MAIN */
.entry-text{
    text-align: center;

}
.card-body{
    margin-left: 28%;
    margin-right: 28%;
    padding-bottom: 3%;
    background: rgba(211, 194, 194, 0.6);
    font-size: 20px;
    font-weight:bold;
}
main .entry-text .card .card-body h3,p{
    color:var(--text);
}
.newcsl{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
    margin: 10px;
}
.m4csl-text{
    background: rgba(43, 41, 41, 0.6);
    width: 400px;
    height: 230px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 5px;
    padding-left: 5px;
    display:block;
}
.foto2023{
padding-top: 20px;

}
.foto2003{
    max-width: 550px;
    width: auto;
    width: 100%;
    height: auto;
    object-fit: contain;
}

.foto30{
    max-width: 600px; 
    width: 100%;
    height: auto;
    object-fit: contain;

    width: 100%;
height: auto;
object-fit: contain;
}

.fotohomage{
    max-width: 700px;
}
.gems{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 10px 10px;
    background-color: white;
}
.gems-image img{
    width: 100%;
    height: auto;
    object-fit: contain;
    padding: 15px;
}
.titles{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    text-align: center;
    padding-top: 50px;
}
.aftercontent{
    display: flex;
    flex-direction: column;
}
.creators-box{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    text-align: center;
    background:white;
    margin: 5px;
    margin-top: 5px;
}
.creators-title{
    text-align: center;
}
/*  */
.sales{
    height:400px;
    overflow-y: scroll;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 1px;
    row-gap: 2px;
    padding-top: 39px;
}
.textttt{
    text-align: center;
}
.bidi{
    margin: 10px;
    margin-top: 0px;
    height: max-content;
}
.bid-photo{
    max-width: 410px;
    margin-left: 20px;
    width: 100%;
    height: auto;
    object-fit: contain;
}
.bid-info{
    padding-left: 20px;
}
.bid-car{
        background:white;
        height: 369px;
}
.buy-now{
    background: transparent;
    border: 0px;
    border-bottom: 2px solid black;
}
.buy-now:hover {
    font-weight: bold;
}
::-webkit-scrollbar{
    width: 0px;
}
/* FOOTER */
.support-content{
    padding: 60px 20px ;

    display: grid;
    grid-template-columns: repeat(4,1fr);
    background-color: black;
}
.support-content,ul li, a ,h2,span{
    color: white;
}
.contact-us ul li a:hover{
    color: rgb(90, 83, 83);
}
.sign-up ul li a:hover{
    color: rgb(90, 83, 83);
}
.region a:hover{
    color: rgb(90, 83, 83);
}
.support-info ul li a:hover{
    color: rgb(90, 83, 83);
}
@media(max-width:639px)
{
    header{
        display: none;
    }
    .responsive-menu {
        display: block;
    }
    .logo{
        margin: 5px;
    
    }
    .menu-interior{
        list-style-type: none;
        display: flex;
        align-items:center;
        font-weight: bold;
        text-decoration: transparent;
    }
    header ul li{
        padding: 0 10px;
        font-size: 14px;
    
    }
    .menu__box span i{
        color: var(--text);
    }
    .search-menu{
        border: 0px;
        border-bottom: 2px solid black;
        background: rgba(255, 255, 255, 0.397);
        margin-top: 19px;
        margin-bottom: 19px;
        width: 150px;
    }
    .acc-logo{
        display: inline;
        padding-top: 50px;
        margin-left: 10px;
        display: inline;
    }
    #menu__toggle {
    opacity: 0;
    }
    #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
    }
    #menu__toggle:checked + .menu__btn > span::before {
        top: 0;
        transform: rotate(0deg);
    }
    #menu__toggle:checked + .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
    }
    #menu__toggle:checked ~ .menu__box {
        left: 0 !important;
    }
    .menu__btn {
        position: fixed;
        top: 10px;
        left: 10px;
        width: 16px;
        height: 16px;
        cursor: pointer;
        z-index: 1;
    }
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 50%;
    height: 2px;
    background-color: #616161;
    transition-duration: .25s;
    }
    .menu__btn > span::before {
        content: '';
        top: -8px;
    }
    .menu__btn > span::after {
        content: '';
        top: 8px;
    }
    .menu__box {
        display: block;
        position: fixed;
        top: 0;
        left: -100%;
        width: 100px;
        height: 100%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        background-image: url(../images/bmw_logo.png);
        background-repeat: no-repeat;
        background-color: #ECEFF1;
        box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
        transition-duration: .25s;
    }
    .menu__item {
        display: block;
        padding: 12px 24px;
        color: #333;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
        transition-duration: .25s;
    }
    .menu__item:hover {
        background-color: #CFD8DC;
    }
    #menu__toggle {
        opacity: 0;
    }
    #menu__toggle:checked + .menu__btn > span {
        transform: rotate(45deg);
    }
    #menu__toggle:checked + .menu__btn > span::before {
        top: 0;
        transform: rotate(0deg);
    }
    #menu__toggle:checked + .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
    }
    #menu__toggle:checked ~ .menu__box {
        left: 0 !important;
    }
    .menu__btn {
        position: absolute;
        top: 20px;
        left: 15px;
        width: 20px;
        height: 15px;
        cursor:pointer;
        z-index: 1;
    }
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #616161;
        transition-duration: .25s;
    }
    .menu__btn > span::before {
        content: '';
        top: -8px;
    }
    .menu__btn > span::after {
        content: '';
        top: 8px;
    }
    .menu__box {
        display: block;
        position: fixed;
        top: 0;
        left: -100%;
        width: 300px;
        height: 100%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        background-color: #ECEFF1;
        box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
        transition-duration: .25s;
    }
    .menu__item {
        display: block;
        padding: 12px 24px;
        color: #333;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
        transition-duration: .25s;
    }
    .menu__item:hover {
        background-color: #CFD8DC;
    }
    
      /* /HEADER */
      /* MAIN */
    main{
        overflow-x: hidden;
    }
    .entry-text{
        text-align: center;
    
    }
    .entry-text img {
        width: 100%;
        object-fit: contain;
    }
    .card-body{
        padding-bottom: 3%;
        font-size: 20px;
        font-weight:bold;
    }
    main .entry-text .card .card-body h3,p{
        color:var(--text);
    }
    .newcsl{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: whitesmoke;
    }
    .m4csl-text{
        background: rgba(43, 41, 41, 0.6);
        width: 400px;
        height: 230px;
        padding: 20px 0px 20px 5x;
        margin:0% 17%;
        display:block;
    }
    .foto2023{
    padding-top: 20px;
    width: 100%;
    object-fit: contain;
    }
    .foto2003{
        width: 550px;
        width: 100%;
        object-fit: contain;
    }
    
    .foto30{
        width: 600px;
        width: 100%;
        object-fit: contain;
    }
    
    .fotohomage{
        width: 600px;
        width: 100%;
        object-fit: contain;
    }
    .gems{
        display: flex;
        flex-direction: column;
        margin: 10px 10px;
        background-color: white;
    }
    .gems-image img {
        width: 100%;
        object-fit: cover;
    }
    .titles{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        text-align: center;
        padding-top: 50px;
    }
    .aftercontent{
        display: grid;
        grid-template-columns: 1fr;
    }
    .creators-box{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        text-align: center;
        background:white;
        margin: 5px;
        margin-top: 5px;
    }
    .cr-title{
        text-align: center;
    }
    .sales{
        height: 358px;
        overflow-y: scroll;
        overflow-x: hidden;
        display: grid;
        grid-template-columns:1fr;
    
    }
    .bidi{
        margin: 10px;
        margin-top: 0px;
        height: max-content;
    }
    .bid-photo{
        height: auto;
        width: 100%;
        object-fit: contain;
    }
    .bid-info{
        padding-left: 10px;
    }
    .bid-car{
            background:white;
            display: flex;
    }
    .buy-now{
        background: transparent;
        border: 0px;
        border-bottom: 2px solid black;
    }
    .buy-now:hover {
        font-weight: bold;
    }
    ::-webkit-scrollbar{
        width: 0px;
    }
    /* /MAIN */
    /* FOOTER */
    .support-content{
        padding: 60px 20px ;
        display: flex;
        flex-direction: column;
        background-color: black;
    }
    .support-content,ul li, a ,h2,span{
        color: white;
        padding-bottom: 15px;
    }
    .contact-us ul li a:hover{
        color: rgb(90, 83, 83);
    }
    .sign-up ul li a:hover{
        color: rgb(90, 83, 83);
    }
    .region a:hover{
        color: rgb(90, 83, 83);
    }
    .support-info ul li a:hover{
        color: rgb(90, 83, 83);
    }
    }
